# Build directories
bin/
obj/
testbin/
testobj/
htmlcov/

# Coverage files
*.gcda
*.gcno
*.gcov
#*
testtmp/
run_filesstest
run_dprtest
run_tptest
run_tpcltest

# Object files
*.o

# Archives
*.tgz

# Mac junk
.DS_Store
